
@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Cliente e Fornecedores</h1>

<ul>
    <li><a asp-action="CadastroCliente" asp-controller="Pessoas">Cadastro de Clientes</a></li>
    <li><a asp-action="CadastroFornecedor" asp-controller="Pessoas">Cadastro de Fornecedores</a></li>
    <li><a asp-action="ListarPessoas" asp-controller="Pessoas">Lista de Pessoas</a></li>
</ul>

